<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="rc" filename="/var/log/cyclops/rc.log" append="true">
            <PatternLayout pattern="[ %-6p] %d{yyyy-MM-dd HH:mm:ss} (%C{2}:%L) - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="ch.icclab.cyclops" additivity="false" level="ALL">
            <AppenderRef ref="rc"/>
        </Logger>
        <Root level="ALL">
            <AppenderRef ref="rc"/>
        </Root>
    </Loggers>
</Configuration>